In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('US_Accidents_Dec20_updated.csv')
df.head()

# df.head()
# df['Zipcode'].head(15)

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2716600,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.10891,-83.09286,40.11206,-83.03187,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2716601,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.86542,-84.06280,39.86501,-84.04873,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-2716602,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10266,-84.52468,39.10209,-84.52396,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-2716603,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10148,-84.52341,39.09841,-84.52241,0.219,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
4,A-2716604,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.06213,-81.53784,41.06217,-81.53547,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day

In [17]:
# df.loc['A-3276724'] #empty zipcode

#will be split into different dataframe after cleanse / before ?
dfmain = df[["ID", "Severity", "Start_Time", "End_Time", "Description"]]
dfmain.head(10)

# df_location = df[["ID", "Start_Lat", "Start_Lng", "End_Lat", "End_Lng", "Distance(mi)"]]
# df_location.head(10)

# df_address = df[["Number", "Street", "Side", "City", "County", "State", "Zipcode", "Country", "Timezone", "Airport_Code" ]]
# df_address.head(10)

# df_weather = df[["Weather_Timestamp", "Temperature(F)", "Wind_Chill(F)", "Humidity(%)", "Pressure(in)", "Visibility(mi)", "Wind_Direction", "Wind_Speed(mph)", "Precipitation(in)", "Weather_Condition"]]
# df_weather.head(10)

# df_location_property = df[["Amenity", "Bump", "Crossing", "Give_Way", "Junction", "No_Exit", "Railway", "Roundabout", "Station", "Stop", "Traffic_Calming", "Traffic_Signal", "Turning_Loop"]]
# df_location_property.head(10)

,ID,Severity,Start_Time,End_Time,Description
0,A-2716600,3,2016-02-08 00:37:08,2016-02-08 06:37:08,Between Sawmill Rd/Exit 20 and OH-315/Olentang...
1,A-2716601,2,2016-02-08 05:56:20,2016-02-08 11:56:20,At OH-4/OH-235/Exit 41 - Accident.
2,A-2716602,2,2016-02-08 06:15:39,2016-02-08 12:15:39,At I-71/US-50/Exit 1 - Accident.
3,A-2716603,2,2016-02-08 06:15:39,2016-02-08 12:15:39,At I-71/US-50/Exit 1 - Accident.
4,A-2716604,2,2016-02-08 06:51:45,2016-02-08 12:51:45,At Dart Ave/Exit 21 - Accident.
5,A-2716605,3,2016-02-08 07:53:43,2016-02-08 13:53:43,At Mitchell Ave/Exit 6 - Accident.
6,A-2716606,2,2016-02-08 08:16:57,2016-02-08 14:16:57,At Dela Palma Rd - Accident.
7,A-2716607,2,2016-02-08 08:16:57,2016-02-08 14:16:57,At Dela Palma Rd - Accident.
8,A-2716608,2,2016-02-08 08:15:41,2016-02-08 14:15:41,At OH-4/Exit 54 - Accident.
9,A-2716609,2,2016-02-08 11:51:46,2016-02-08 17:51:46,At Bagley Rd/Exit 235 - Accident.

In [ ]:
# df.loc['A-3269532'] #empty zipcode

In [ ]:
#cleaning zipcode Column
removecharc = ['-','[','nan']
#nan = null in pandas
def clean_zip(dop):
    dop = str(dop)
#     if dop.startswith('[') or dop == 'nan':
#         return 'NaN'
    for character in removecharc:
        if character in dop:
            character_index = dop.find(character)
            dop = dop[:character_index]
    return dop
df['Zipcode'] = df['Zipcode'].apply(clean_zip) #clean up the one with - behind

#removing row with blank space in zipcode col
# df['Zipcode'].replace('',np.nan,inplace=True) #replace blank space with Nan
df.dropna(subset=['Zipcode'],inplace = True) # drop all row containing Nan value on col Zipcode
# df.loc['A-3276724'] #empty zipcode
df['Zipcode'].head(15)
# df.loc['A-3269532'] #empty zipcode

In [ ]:
df.loc['A-2811913']
# df.loc['A-3269532'] #should not be able to find